<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.trimmer.videoconverter">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.test.trimmer.videoconverter.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>


        <activity
          android:name=".HomeActivity"
          android:configChanges="screenSize|orientation"
          android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TrimActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="user">
        </activity>

        <activity
          android:name=".FacebookProfileActivity"
          android:configChanges="screenSize|orientation"
          android:screenOrientation="user">
        </activity>


        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                    "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />


    </application>

</manifest>